DOMAIN="127.0.0.1:8000"
APP_SCHEME=http
DATABASE_URL=
JWT_SECRET_KEY=
JWT_ALGORITHM=
ACCESS_EXPIRE_MINUTES=
REFRESH_EXPIRE_DAYS=
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
MAIL_MAILER=
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=
MAIL_STARTTLS=true
MAIL_SSL_TLS=false
USE_CREDENTIALS=true
VALIDATE_CERTS=true
EMAIL_TOKEN_SALT=

